<h3>It's Prehistoric Creature time!</h3>
<h4>Who are the creatures?</h4>

<ul>
    <% creatures.forEach(creature =>{ %>
        <li>
            <p><strong><%= creature.type %></strong></p>
            
        </li>
    <% }) %>
</ul>